# This is a basic workflow to help you get started with Actions

name: DevCard

permissions:
  contents:write

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  workflow_dispatch:
  push:
    branches: 
      -"main"  
  schedule: 
    - cron: "0 0 * * *"

  # Allows you to run this workflow manually from the Actions tab
#   workflow_dispatch:

jobs:
  devcard:
    runs-on: ubuntu-latest
    steps:
      - name: devcard
        uses: dailydotdev/action-devcard@2.0.4
        with:
          devcard_id: ${{ secrets.DEVCARD_ID }}

